<footer class="footer">
  <p>Cette page a été créée à l'aide de luzilab-docs-ui se basant sur Antora default UI.</p>
  <p>Le code source d'Antora default UI est sous licence selon les termes de la licence MPL-2.0.</p>
</footer>
